<div class="recipe-card">
  <div class="recipe-image" style="background-image: url('<%= image_url %>');">
  </div>

  <div class="recipe-card-content">
    <div class="card-header d-flex justify-content-between align-items-center mb-2">
      <h5><%= name %></h5>
      <p><%= link_to 'Delete', category_bookmark_path(category, bookmark), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
    <div class="card-description mb-2">
      <p><%= description %></p>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <p class="mb-0">"<%= comment %>"</p>
      <p class="mb-0"><%= rating %>/5</p>
    </div>
  </div>
</div>
