<!DOCTYPE html>
<html>
  <head>
    <title>RailsCookbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Cookbook</a>
        <%= link_to "All categories", categories_path, class: "btn btn-success" %>
        <%= link_to "Add category", new_category_path, class: "btn btn-success" %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
